@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans TC', sans-serif;}
nav {
	width: 100%;
	height: 59px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	background-color: #5B5B5B;
	position: fixed;
	opacity: 0.67;
	-webkit-box-shadow: 0px 0px 27px 7px #FFFFFF;
	box-shadow: 0px 0px 27px 7px #FFFFFF;
}
.title h1 {
	margin-left: 15px;
	font-size: 50px;
	color: #C6C6C6;
	font-weight: 800;
	text-align: left;
}
.menu li  {
	display: inline;
	margin-right: 15px;
	text-shadow: 0px 0px;
	font-weight: 400;
}
.menu a:link {
	color: #FDFF6D;
	text-decoration: none;
	font-size: larger;
}
.menu a:hover {
	color: #DB4348;
	text-decoration: none;
}
header {
	width: 100%;
	height: 132vh;
	background-image: url(ppp/%E5%B8%83%E8%BE%BE%E6%8B%89%E5%AE%AB3.jpeg);
	background-size: cover;
	background-position: 0% center;
	display: flex;
	margin-right: 0px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 500;
	color: #FED303;
}
header h1 {
	color: #FEFFB0;
	text-decoration: none;
	font-size: 33px;
	text-shadow: 0px 0px 49px #000000;
	font-weight: 500;
}
article  {
	color: #633900;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* [disabled]background-color: #000000; */
	padding-bottom: 60px;
	padding-top: 60px;
}
article h1 {
	text-align: center;
	font-size: 49pt;
	margin-top: 30px;
	margin-bottom: 30px;
	float: none;
	clear: none;
	-webkit-transition: all 3s ease-in-out 1s;
	-o-transition: all 3s ease-in-out 1s;
	transition: all 3s ease-in-out 1s;
}
.box {
	display: flex;
	clear: none;
	float: none;
}
.box1  {
	flex: 1;
	margin-left: 66pt;
	padding-left: 65pt;
	text-align: left;
	font-size: 30pt;
	margin-bottom: 40pt;
	/* [disabled]padding-right: auto; */
	line-height: 30pt;
	color: #C84A00;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.box1:hover{transform: rotatey(5deg)translateX(50px)

}
article h3   {
	text-align: left;
	font-size: 12pt;
	line-height: 35pt;
	color: #5B5B5B;
 -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;	
}

.box4 .video iframe {
	margin-left: 288px;
}
.end {
	text-align: left;
	background-color: #5B5B5B;
	margin-left: auto;
	margin-right: auto;
	padding-left: 297px;
	opacity: 0.7;
}
.box2 {
	margin-left: 66px;
	margin-bottom: 73px;
	padding-left: 114px;
	padding-right: auto;
	color: #C84A00;
	font-size: 30pt;
	line-height: 30pt;
}
.box1-1 {
	text-align: center;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: #C0D9E9;
	height: 31pt;
	line-height: 31pt;
	text-shadow: 0px 0px;
	align-items: flex-end;
	margin-left: 0px;
	margin-right: 40pt;
}
.box3 {
	text-align: center;
}
.box3 h2   {
	color: #C84A00;
	font-size: 30pt;
	line-height: 30pt;
	text-align: center;
	padding-top: 50px;
}
.box4 {
	background-image: url(url);
}
.box4 h2 {
	color: #5B5B5B;
	font-size: 12pt;
	line-height: 30pt;
	background-color: #E4CA93;
	border-radius: 204px / 202px 191px 191px;
	margin-left: 96px;
	margin-right: 95px;
	text-align: center;
	-webkit-transition: all 5s ease-in-out 0s;
	-o-transition: all 5s ease-in-out 0s;
	transition: all 5s ease-in-out 0s;
}
.box3 .ppp3-0 {
}
.box3 .ppp3-1 {
}
.box3 .ppp3-2 {
}
.box3 .ppp3-3 {
}
.box3 .ppp3-4 {
}
.box3 .ppp3-5 {
}
.box3 .ppp3-6 {
}
.box3 .ppp3-7 {
}
.ppp3  {
	width: 450pt;
	background-image: url(ppp/shutterstock_96567067_0.jpeg);
	height: 270pt;
	background-size: cover;
	margin-left: 401px;
}
.box4 h2:hover {
	background-color: #F2ADAE;
	font-size: large;
}
#a02 {
}
#a03 {
}
#a03 {
}
#a04 {
}
article h1:hover {
	color: #FF1A1A;
}
.box3 h4 {
	font-size: 21pt;
	padding-top: 30px;
	padding-bottom: 30px;
	-webkit-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}
.box3 h4:hover {
	font-size: large;
}
